.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul.hidden-navigation {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.sr-only:focus {
  position:static;
  width: auto;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex-grow: 1;
}

.logo {
  width: 10%;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navigation li {float: left;}

ul.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navigation li a:hover:not(.active) {
  background-color: white;
  color: black;
}

ul.navigation li a:focus {
  background-color: white;
  color: black;
}

ul.navigation li a.active {background-color: #83569f;}

ul.navigation li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.navigation li.right, 
  ul.navigation li {float: none;}
}

#fgcolor {
  max-width: 100%;
}

#bgcolor {
  max-width: 100%;
}

h1, h2, h3, p {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.full_row {
  width: 100%
}

.column {
  display: flex;
  flex: 0%;
  max-width: 50%;
  min-height: max-content;
  padding: 0 4px;
}

@media (max-width: 800px) {
  .column {
    flex: 0%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.wiisi {
  background-color:rgb(250, 209, 230);
}

.ccs {
  background-color: rgb(196, 255, 255);
}

.largetext {
  font-size: 25px;
}

.ccchecker {
  background-color: #fdf697;
}

legend {
  font-weight: bold;
}

#hidden {
  display: none;
}

input {
  width: 25%;
  margin-bottom: 10px;
}

button {
  border-radius: 8px;
  padding: 5px;
  width: 100px;
  transition-duration: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #333;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

button:focus {
  color: yellow;
  background: blue;
}

.selectt {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}
.faq {
  border: dotted 5px;
  margin-top: 10px;
}

.faq_heading {
  font-size: 24px;
  text-align: center;

}

.accordion_container
.accordion_trigger {
  background: #190342;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: 2px solid #fff;
  cursor: pointer;
}

.active, .accordion_trigger:hover {
  background-color: #919191;
  
}

.accordion_trigger:focus {
  background-color: rgb(0, 38, 255);
}

.accordion_content {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

p.accordion {
  text-align: left;
}

.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.footer-navigation {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(110, 209, 135, 0.555);
  padding: 0;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

ul.footer-navigation li a {
  display: block;
  padding: 14px 16px;
  color: black;
  text-decoration: underline;
  margin-top: 10px;
  text-align: center;
}

ul.footer-navigation li a:hover {
  color: blue;
}

ul.footer-navigation li a:focus {
  border: black;
  color: blue;
}

@media screen and (max-width: 600px) {
  .footer-navigation {display: block;}
  ul.footer-navigation li {float: none;}
}