ul.hidden-navigation {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.sr-only:focus {
  position:static;
  width: auto;
  height: auto;
}

.logo {
  width: 10%;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navigation li {float: left;}

ul.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

ul.navigation li a:hover:not(.active) {
  background-color: white;
  color: black;
}

ul.navigation li a.active {background-color: #83569f;}

ul.navigation li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.navigation li.right, 
  ul.navigation li {float: none;}
}

form.form-input {
  display: table;
  text-align: center;
}

div.form-input {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

h1, h2, p {
  text-align: center;
}

p.p-wcag {
  text-align: left;
}