.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul.hidden-navigation {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.sr-only:focus {
  position:static;
  width: auto;
  height: auto;
}

main {
  flex-grow: 1;
}

.logo {
  width: 10%;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navigation li {float: left;}

ul.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

ul.navigation li a:hover:not(.active) {
  background-color: white;
  color: black;
}

ul.navigation li a.active {background-color: #83569f;}

ul.navigation li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.navigation li.right, 
  ul.navigation li {float: none;}
}

#fgcolor {
  max-width: 100%;
}



#bgcolor {
  max-width: 100%;
}

h1, h2, p {
  text-align: center;
}

.wiisi {
  background-color:rgb(250, 209, 230);
}

.ccs {
  text-align: left;
  background-color: rgb(196, 255, 255);
}

.ccpics {
  display:flex;
  flex-wrap: wrap;
  padding: 18px 18px;
}

.ccpic1 {
  width:250px;
  height: 150px;
  flex-flow: wrap;
  position: relative;
  max-width: 100%;
  padding-right: 18px;
}

.ccpic2 {
  width:430px;
  height: 150px;
  flex-flow: wrap;
  position: relative;
  max-width: 100%;
  padding-left: 18px;
}

.largetext {
  font-size: 25px;
}

ul.footer-navigation {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(110, 209, 135, 0.555);
  padding: 0;
  margin: 0;
}

ul.footer-navigation li {
  text-align: center;
}

ul.footer-navigation li a {
  display: block;
  padding: 14px 16px;
  color: black;
  text-decoration: underline;
}
